Instagram_Analytics_Workflow_CLEAN.json
{
  "name": "Instagram Analytics Fetcher (Optional)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-800, 500],
      "id": "schedule-analytics",
      "name": "Schedule Trigger (Daily 8 PM)"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [-600, 500],
      "id": "get-published-reels",
      "name": "Get Published Reels"
    },
    {
      "parameters": {
        "jsCode": "// Filter for reels that:\n// 1. Have been published (Status = \"Published\")\n// 2. Have Instagram Media ID\n// 3. Published in last 30 days (Instagram API limitation)\n\nconst allRows = $input.all().map(i => i.json);\nconst thirtyDaysAgo = new Date();\nthirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\n\nconst reelsToFetch = allRows.filter(row => {\n  if (row.Status === 'Status') return false;\n  if (!row['Instagram Media ID']) return false;\n  if (row.Status !== 'Published') return false;\n  \n  if (row.Date) {\n    const reelDate = new Date(row.Date);\n    if (reelDate < thirtyDaysAgo) return false;\n  }\n  \n  return true;\n});\n\nreturn reelsToFetch.map(reel => ({\n  json: {\n    topic: reel.Topic,\n    instagram_media_id: reel['Instagram Media ID'],\n    row_number: allRows.indexOf(reel) + 1\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 500],
      "id": "filter-reels-to-fetch",
      "name": "Filter Reels to Fetch Analytics"
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/{{ $json.instagram_media_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,media_type,timestamp,permalink"
            },
            {
              "name": "access_token",
              "value": "={{ $credentials.oauthTokenData.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-200, 500],
      "id": "get-media-info",
      "name": "Get Media Info"
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/{{ $('Filter Reels to Fetch Analytics').item.json.instagram_media_id }}/insights",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "metric",
              "value": "plays,reach,likes,comments,saves,shares,total_interactions"
            },
            {
              "name": "access_token",
              "value": "={{ $credentials.oauthTokenData.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 500],
      "id": "get-insights",
      "name": "Get Instagram Insights"
    },
    {
      "parameters": {
        "jsCode": "// Parse Instagram Insights API response\nconst insights = $input.first().json.data || [];\nconst topic = $('Filter Reels to Fetch Analytics').item.json.topic;\n\n// Extract metrics from insights array\nconst metrics = {};\ninsights.forEach(insight => {\n  metrics[insight.name] = insight.values[0]?.value || 0;\n});\n\n// Calculate performance score (1-10 scale)\nconst plays = metrics.plays || 0;\nconst reach = metrics.reach || 0;\nconst interactions = metrics.total_interactions || 0;\n\nconst performanceScore = Math.min(10, Math.round(\n  (plays / 1000 * 0.4) + \n  (reach / 500 * 0.3) + \n  (interactions / 100 * 0.3)\n));\n\nreturn {\n  json: {\n    topic: topic,\n    views: plays,\n    likes: metrics.likes || 0,\n    comments: metrics.comments || 0,\n    saves: metrics.saves || 0,\n    shares: metrics.shares || 0,\n    performance_score: performanceScore\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 500],
      "id": "process-metrics",
      "name": "Process Metrics & Calculate Score"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columnToMatchOn": "Topic",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Views": "={{ $json.views }}",
            "Likes": "={{ $json.likes }}",
            "Comments": "={{ $json.comments }}",
            "Saves": "={{ $json.saves }}",
            "Shares": "={{ $json.shares }}",
            "Performance Score": "={{ $json.performance_score }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [400, 500],
      "id": "update-sheet-analytics",
      "name": "Update Sheet with Analytics"
    },
    {
      "parameters": {
        "jsCode": "// Check if performance score is >= 7 (high performer)\nconst score = $json.performance_score;\nconst hook = $('Get Published Reels').all()\n  .map(i => i.json)\n  .find(r => r.Topic === $json.topic)?.Hook || '';\n\nif (score >= 7 && hook) {\n  return {\n    json: {\n      should_add_to_best_hooks: true,\n      hook: hook,\n      topic: $json.topic,\n      views: $json.views,\n      likes: $json.likes,\n      performance_score: score,\n      format: \"To be filled manually\"\n    }\n  };\n} else {\n  return {\n    json: {\n      should_add_to_best_hooks: false\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 500],
      "id": "check-high-performer",
      "name": "Check if High Performer"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_add_to_best_hooks }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 500],
      "id": "if-high-performer",
      "name": "IF High Performer"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Hook": "={{ $json.hook }}",
            "Format": "TO BE FILLED MANUALLY",
            "Views": "={{ $json.views }}",
            "Likes": "={{ $json.likes }}",
            "Performance Score": "={{ $json.performance_score }}",
            "Date Added": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "Notes": "Auto-added from analytics. Please fill Format column!"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1000, 400],
      "id": "add-to-best-hooks",
      "name": "Add to Best Hooks Sheet"
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 8 PM)": {
      "main": [
        [
          {
            "node": "Get Published Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Published Reels": {
      "main": [
        [
          {
            "node": "Filter Reels to Fetch Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Reels to Fetch Analytics": {
      "main": [
        [
          {
            "node": "Get Media Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Media Info": {
      "main": [
        [
          {
            "node": "Get Instagram Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instagram Insights": {
      "main": [
        [
          {
            "node": "Process Metrics & Calculate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Metrics & Calculate Score": {
      "main": [
        [
          {
            "node": "Update Sheet with Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with Analytics": {
      "main": [
        [
          {
            "node": "Check if High Performer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if High Performer": {
      "main": [
        [
          {
            "node": "IF High Performer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF High Performer": {
      "main": [
        [
          {
            "node": "Add to Best Hooks Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
